n8n/accodal.json
{
  "name": "accodal",
  "nodes": [
    {
      "parameters": {
        "command": "=tesseract C:/n8n/temp/{{ $json.originalFilename }} stdout -l eng\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1360,
        -300
      ],
      "id": "5632c034-40e4-4a14-8713-ec5e148a4932",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ofwGL672Sirf5ZosXTLnXRFZaZkYEBDU",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ofwGL672Sirf5ZosXTLnXRFZaZkYEBDU"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        320
      ],
      "id": "d1be76e4-93f2-4d26-845d-3469eadebb6b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4FtfuAQpvbZlqzb5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a974cba6-d443-4288-b45b-72d8f9007b82"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69ae9f53-5bce-4f80-93ad-9d4d140d5eba",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "jpg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f344d911-9a85-4035-9806-a8cb1157737a",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpeg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6d403f2-91cc-466f-9d69-a5f32564c587",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "png"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58ed7c72-27f7-4349-afba-f72c4682cdc3",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "wav",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "wav"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5deac5b8-6887-4123-876c-b20beb605bf8",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "m4a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "m4a"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e74cead-e763-42f2-a519-0f4e7ee0d4a5",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "mp3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mp3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2acc35ed-1eb8-4296-b3fb-4e8483d0fb5a",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb17ced5-bfd0-432d-8ab5-0bec03febc83",
                    "leftValue": "notacepted",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not acepted"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        340,
        200
      ],
      "id": "b08d4166-85d5-46ed-8e39-9521fa561cea",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        740,
        -300
      ],
      "id": "832b6599-eec9-4d00-90fc-5b3ebbdc3954",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4FtfuAQpvbZlqzb5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=curl -X POST http://localhost:8000/transcribe/ -F \"file=@C:/n8n/temp/{{ $json.originalFilename }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ],
      "id": "fae4d3e4-4fc5-482d-8b7f-323d298ca018",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:/n8n/temp/{{ $json.originalFilename }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1160,
        -300
      ],
      "id": "545c4eb4-d0d0-4fdd-bbfd-2f018631a19b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// Recebe o arquivo do nó anterior\nconst item = items[0];\n\n// O nome do arquivo está em item.binary.data.fileName\nconst fileName = item.binary.data.fileName;\n\n// Cria um novo campo para guardar o caminho completo do arquivo\nitem.json.filePath = `C:\\\\n8n\\\\temp\\\\${fileName}`;\n\n// Retorna o item com essa nova propriedade\nreturn [item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -300
      ],
      "id": "b95dcd69-bf34-4c97-9063-e96498a391a8",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        420
      ],
      "id": "f37d6459-e7bd-4f14-a342-d62ca98728ca",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4FtfuAQpvbZlqzb5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:/n8n/temp/{{ $json.originalFilename }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "id": "5864c269-cb8f-4e37-b925-b1fdd543f512",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## ÁUDIO\n",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        20
      ],
      "id": "02282339-015c-45fb-a6f0-2777efecadd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## IMAGEM\n\n",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        -420
      ],
      "id": "881546db-842c-45bb-999f-c202a1339c57",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80961c61-a2ac-4c8c-bc1a-8de189a4cded",
              "name": "document_type",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "0bd9cf6d-849a-4c48-8392-a21613f55aa1",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        -300
      ],
      "id": "12e868e0-eef0-456f-9984-7321b7df75e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filename\": \"{{ $('Google Drive').item.json.name }}\",\n  \"filetype\": \"{{ $('Google Drive').item.json.mimeType }}\",\n  \"source\": \"upload_google_drive\",\n  \"content\": \"Texto OCR ou conteúdo extraído\",\n  \"extracted_json\": {{ $json.document_type }}\n\n  }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        -300
      ],
      "id": "5bbb322b-1dea-4934-8bfc-ff795e3ab61e",
      "name": "HTTP Request",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the most important information from the text sent below and classify the type of this financial document. You must extract relevant fields (e.g. dates, amounts, IDs).\n{{ $json.stdout }}\n\n** Document ends here\n\n** Possible options: W-2, 1099, Invoice, Other\n\nReply in key-value format, as if it were a json, the type of document and the extracted content:",
              "role": "=user"
            }
          ]
        },
        "simplify": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1580,
        -300
      ],
      "id": "76975e05-c122-4bbe-867b-6d0feea8a14e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QgYwPp6l8EVwKsEd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract from the following text any identifying numbers (such as CPF, CNPJ, SSN, Tax ID), monetary values ​​(salary, income), company name and contacts. Use the message field if there is no data, remember to always return in JSON format:\n\nText:\n{{ $json.stdout }}\n\nJSON format:\n{\n\"cpf\": \"...\",\n\"cnpj\": \"...\",\n\"ssn\": \"...\",\n\"tax_id\": \"...\",\n\"income\": \"...\",\n\"company\": \"...\",\n\"email\": \"...\",\n\"phone\": \"...\",\n\"message\" : \"...\",\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        420
      ],
      "id": "8ea770aa-e23a-47cb-88ae-8825cadb0f91",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "QgYwPp6l8EVwKsEd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=** You are a financial data extractor. Analyze emails and documents and extract fields such as name, CPF, CNPJ, income, total amount, account number, branch and any other banking data.\n** Always return in json format\nPerform your service with the following content:\n\n{{ $json.data }}\n\n** If there is no data, return with the message \"There is no banking data\"."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        1040
      ],
      "id": "1e6fb208-8a8e-4da6-83ee-7ed4547713b8",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "QgYwPp6l8EVwKsEd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        1040
      ],
      "id": "e73a401a-94b6-4754-acb5-e666c79766a5",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4FtfuAQpvbZlqzb5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:/n8n/temp/{{ $json.originalFilename }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        860,
        1040
      ],
      "id": "c6dac905-4415-455c-aa56-2555a777464b",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        1040
      ],
      "id": "7bda7b76-0000-4103-bec2-66e6b0fd4f1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## TEXTO\n",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "id": "102f97a3-bf49-49d0-a18f-8fc077f362ce",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/audio_transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filename\": \"{{ $('Google Drive1').item.json.name }}\",\n  \"transcript\": \"{{ $json.transcript.text }}\",\n  \"extracted_json\": {{ $json.extracted_json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        420
      ],
      "id": "fe74f06c-054a-491a-9999-a332c8752ec1",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const transcriptRaw = $('Execute Command2').first().json.stdout\nconst transcript = JSON.parse(transcriptRaw);\nconst extracted = $input.first().json.message.content;\n\nreturn [\n  {\n    json: {\n      filename: $('Google Drive1').first().json.name,\n      transcript: transcript,  \n      extracted_json: extracted\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        420
      ],
      "id": "5868abef-c536-4b61-aef3-112a0d5fa69b",
      "name": "Code5"
    },
    {
      "parameters": {
        "errorMessage": "Invalid type of file"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        540,
        1480
      ],
      "id": "e3158a57-3193-4b74-8d23-bfc17c15fae6",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/text_inputs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"{{ $('Google Drive2').item.json.name }}\",\n  \"raw_text\": \"{{ $('Extract from File').item.json.data }}\",\n  \"extracted_json\": {{ $('OpenAI2').item.json.message.content }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1040
      ],
      "id": "f922c4ca-520a-4b87-ba10-240728931cac",
      "name": "HTTP Request2",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ $json.content.toJsonString() || $json.raw_text }},\n  \"model\": \"text-embedding-3-small\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        440
      ],
      "id": "5d994dfa-1793-48c5-a9fc-67932a9c4908",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const filename = $json.imageFileName || $json.textFileName || $json.audioFileName;\n\nconst content = $json.imageContent || $json.textContent || $json.audioContent;\n\nreturn [{ json: { filename, content } }];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        440
      ],
      "id": "a88070b4-7d9f-4aa8-9ce5-3c2e0108d465",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "embedding",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.data[0].embedding }}"
            },
            {
              "fieldId": "filename",
              "fieldValue": "={{ $('Code').item.json.filename }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4140,
        440
      ],
      "id": "693e4887-effb-4798-9595-116539052803",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rpeGnhmwJ1PpuIVr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3540,
        440
      ],
      "id": "b156f242-6c74-4b7f-a1cd-acc29177d9c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80f41af0-7bad-4821-967f-c203a24b7d48",
              "name": "textFileName",
              "value": "={{ $('Read/Write Files from Disk2').item.json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "78d401ec-f5f1-4799-9621-f73783ba0209",
              "name": "textContent",
              "value": "={{ $('OpenAI2').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        1040
      ],
      "id": "f2aece83-ed93-4d1c-a85c-dd3226426d99",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd1a1c44-4964-4dfc-8ca2-88d3e5ceafa9",
              "name": "audioFileName",
              "value": "={{ $('Read/Write Files from Disk1').item.json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "15316403-7a27-4220-8f9f-1886c64cfc3f",
              "name": "audioContent",
              "value": "={{ $('OpenAI1').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2300,
        400
      ],
      "id": "a37bbe8f-7bcf-4ad4-87aa-fedec53a9bb7",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8bd3c7-692f-4767-b09b-3a1b9f9cd755",
              "name": "imageFileName",
              "value": "={{ $('Read/Write Files from Disk').item.json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "61855e82-23b9-4cf5-a73d-25b506ead3ec",
              "name": "imageContent",
              "value": "={{ $('OpenAI').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        -300
      ],
      "id": "2adb7a47-f995-4cc4-b31e-a0731e9f4cd4",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  filename,\n  content,\n  extracted_json,\n  embedding <-> $1 AS distance\nFROM documents\nWHERE embedding IS NOT NULL\nORDER BY embedding <-> $1\nLIMIT 5;\n",
        "options": {
          "queryReplacement": "={{ $json.embeddingString }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4560,
        440
      ],
      "id": "9e36c6e2-4a18-4fcf-b6b9-c82d3aca67a4",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "kEW3vPET7p2Usbu9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99fa781a-802c-4179-80f0-89dc34c65583",
              "leftValue": "={{ $json.distance > 0.7 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        440
      ],
      "id": "fc94864e-d0bc-448c-822f-04de32776a01",
      "name": "If"
    },
    {
      "parameters": {
        "subject": "Proximity",
        "emailType": "text",
        "message": "=Alert: document \"{{ $('Code').item.json.filename }}\" with high discrepancy detected. Distance: {{ $json.distance }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5040,
        420
      ],
      "id": "7536b882-e1e7-4f9e-ac9b-93e5b8368fb7",
      "name": "Gmail",
      "webhookId": "83543e0b-72d7-4d4c-9fb8-02b5e929d6be",
      "credentials": {
        "gmailOAuth2": {
          "id": "10JsQPTrpQPHNN4h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embeddingArray =  $('HTTP Request3').first().json.data[0].embedding\nconst embeddingString = '[' + embeddingArray.join(',') + ']';\n\nreturn {\n  json: {\n    embeddingString,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4360,
        440
      ],
      "id": "5fdde306-fd87-416a-bef9-944ab8bcc4a0",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5000,
        640
      ],
      "id": "f997b833-f18e-4470-98c5-ac5b6058a4ba",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22b024f1-689a-4653-9a2a-ad0a260edc5c",
              "leftValue": "={{ $json.retryCount < 3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        1260
      ],
      "id": "d4ce3832-7d84-403f-b5c1-ed92c16308a8",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": "={{ Math.pow(3, $json.retryCount)}}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        1440
      ],
      "id": "4b57d2d5-e6c4-4202-ad8e-f59c854c2dbf",
      "name": "Wait1",
      "webhookId": "2bafee65-5f9d-43fd-98bc-c7fc7ccc9307"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"retryCount\": {{ $json.retryCount + 1 }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        1440
      ],
      "id": "ae9bac80-1290-43e5-8bad-190de8cb0b9b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/dead_letter_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"{{ $('Google Drive2').item.json.name }}\",\n  \"reason\": \"{{ $json.error.message }}\",\n  \"payload\": {{ $json.error.toJsonString() }}\n\n  }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1260
      ],
      "id": "2a2ab21c-9c8a-45b9-881d-85ebe1e37470",
      "name": "HTTP Request5",
      "retryOnFail": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80961c61-a2ac-4c8c-bc1a-8de189a4cded",
              "name": "document_type",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "0bd9cf6d-849a-4c48-8392-a21613f55aa1",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1700,
        1040
      ],
      "id": "f9e1cc67-150a-443d-a968-8a95e5ebdd62",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22b024f1-689a-4653-9a2a-ad0a260edc5c",
              "leftValue": "={{ $json.retryCount < 3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        620
      ],
      "id": "f445614e-b5bb-4205-ae0e-01f06b41d569",
      "name": "If3"
    },
    {
      "parameters": {
        "amount": "={{ Math.pow(3, $json.retryCount)}}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        800
      ],
      "id": "5cebec31-712f-4850-bd8e-987b8d0d9a18",
      "name": "Wait2",
      "webhookId": "2bafee65-5f9d-43fd-98bc-c7fc7ccc9307"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"retryCount\": {{ $json.retryCount + 1 }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        800
      ],
      "id": "b0e4aa24-b5a3-4b97-9d7c-ea27980e2edc",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/dead_letter_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"{{ $('Google Drive1').item.json.name }}\",\n  \"reason\": \"{{ $json.error.message }}\",\n  \"payload\": {{ $json.error.toJsonString() }}\n\n  }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        620
      ],
      "id": "0dcff4f7-4472-4486-a4cc-16fe4e01ffbc",
      "name": "HTTP Request6",
      "retryOnFail": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80961c61-a2ac-4c8c-bc1a-8de189a4cded",
              "name": "document_type",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "0bd9cf6d-849a-4c48-8392-a21613f55aa1",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        420
      ],
      "id": "55b4b842-b7c6-43e2-88f0-29894608c018",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22b024f1-689a-4653-9a2a-ad0a260edc5c",
              "leftValue": "={{ $json.retryCount < 3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        -140
      ],
      "id": "72b3822b-555b-497e-8203-da10ea033d3f",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": "={{ Math.pow(3, $json.retryCount)}}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        40
      ],
      "id": "c6651938-d11f-4ad7-b764-fbdbfff4dab6",
      "name": "Wait",
      "webhookId": "2bafee65-5f9d-43fd-98bc-c7fc7ccc9307"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"retryCount\": {{ $json.retryCount + 1 }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        40
      ],
      "id": "eebba056-4ee4-41ed-9cf2-b40e968c1270",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orgywelrnlzkshskjytb.supabase.co/rest/v1/dead_letter_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZ3l3ZWxybmx6a3Noc2tqeXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODAxNzcsImV4cCI6MjA2NTE1NjE3N30.1RwsBa93Cyhb1g2OI32fWjcQvy0wu6aj73ggua-jIts"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"{{ $('Google Drive').item.json.name }}\",\n  \"reason\": \"{{ $json.error.message }}\",\n  \"payload\": {{ $json.error.toJsonString() }}\n\n  }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        -140
      ],
      "id": "a5ee761f-449d-43ab-8af5-02cb49985e5f",
      "name": "HTTP Request7",
      "retryOnFail": false,
      "waitBetweenTries": 3000
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jGNHGx7frg9gNj1k"
  },
  "versionId": "e97f4a11-78aa-496e-a9d0-0e41a499460f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd8ab1ac9201ddc6c271b61f06d84c66728a19d3cd5d6957ae7f2480c3d7d844"
  },
  "id": "oncJR6hHtKPokYtz",
  "tags": []
}